.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: white;
    background: black;
  }
  
  .register-title {
    font-size: 26px;
    font-weight: bold;
    color: #d4ff00;
    margin-bottom: 10px;
  }
  
  .register-subtitle {
    font-size: 14px;
    margin-bottom: 40px;
    opacity: 0.8;
}
  
  .input-group {
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
    position: relative;
  }
  
  .input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    outline: none;
    padding-left: 15px;
  }
  
  .input-group input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .input-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 90%;
    margin: 5px;
  }
  
  @media (min-width: 768px) {
    .input-row {
      flex-direction: row; 
      gap: 25px;
    }
  
    .input-group {
      max-width: 100%;
      flex: 1;
    }
  }
  
  /* Buttons */
  .primary-button {
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
    padding: 12px;
    background: #d4ff00;
    color: black;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 10px;
    border: none;
  }
  
  .secondary-button {
    width: 100%;
    max-width: 300px;
    padding: 12px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  .or-text {
    font-size: 14px;
    margin: 20px 0;
    opacity: 0.8;
  }
  
  .social-buttons {
    display: flex;
    gap: 10px;
  }
  
  .social-icon {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    cursor: pointer;
    border: none;
  }
  
  @media (min-width: 768px) {
    .register-container {
      max-width: 80%;
      margin: auto;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.05);
    }
  
    .input-group {
      max-width: 100%;
    }
  
    .primary-button,
    .secondary-button {
      max-width: 500px;
    }
  
    .social-buttons {
      justify-content: center;
    }
  }
  