
  .container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header  {
    background-color: #191919;

  }
  .page-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .subtitle {
    font-size: 16px;
    color: #b8adad;
    line-height: 1.4;
    margin-bottom: 30px;
  }
  
  /* Merchants List */
  .merchants-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  
  .merchant-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    background: #222;
    border-radius: 10px;
    min-width: 320px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    text-align: center;
  }
  .merchant-card:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  
  .merchant-image {
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .merchant-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
  }
  .merchant-value {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .merchant-value p {
    font-size: 10px;
    color: #ccc;
    background-color: #191919;
    border: 1px solid #262626;
    padding: 5px 10px;
    border-radius: 10px;
  }
  .sub-title {
    font-weight: 900;
  }
  .merchant-name {
    font-size: 18px;
  }
  

  
  .merchant-about {
    font-size: 13px;
    color: #bbb;
    text-align: center;
    margin-top: 5px;
    line-height: 1.3;
  }
  

  .visit-button {
    text-decoration: none;
    font-weight: 700;
    background: #81c005;
    color: #111;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  .visit-button:hover {
    background: #d4ff00;
  }
  
  .hero {
    display: none;
  }
  
  @media (min-width: 768px) {

    .header {
        margin-top: 40px;
    }
    .merchants-list {
      flex-direction: row;
      flex-wrap: wrap;
    }
    
    .merchant-card {
      width: 48%;
    }

    .page-title {
        text-align: left;
        color: #cefd15;
    }

    .section-heading {
        padding: 60px 40px;
        border-radius: 10px;
        border-bottom-right-radius: 60px;
        background-color: #0d0d0d;
        width: max-content;
        font-size: 32px;
        font-weight: 700;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        z-index: 4;
    }
    .hero {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }

    .caring-image {
        width: 400px;
        object-fit: contain;
        transform: scale(1.5) translate(-70px, 30px);
        z-index: 1;
    }
  }

  
  